/* General Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base font size */
html {
  font-size: 62.5%; /* Sets base font size to 10px (1rem = 10px) */
}

.bod {
  font-size: 1.6rem; /* 16px */
}

/* Links */
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

li {
  list-style: none;
}

/* Navigation Styles */
.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background: rgb(0, 33, 65);
  padding: 0 2rem;
}

.nav__brand img {
  width: 150px; /* Desired width */
  height: auto; /* Maintain aspect ratio */
}

/* Navigation Menu */
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  flex-grow: 1;
}

.nav__toggler {
  display: none;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

/* Mobile Menu */
@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
    padding: 0 1rem;
  }
}

/* Active Menu */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
